/****************************************************
 * General
 ****************************************************/
html, body {
  color: #333333;
}

body {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  background-color: #EEEEEE;
  margin-top: 0;
  font-weight: bold;
  color: #545e69;
  text-transform: none;
  clear: right;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 12px;
}

hr {
  width: 100%;
  color: #d4d7d9;
  border-color: #d4d7d9;
  border-width: 1px;
  border-style: solid;
  margin: 0;
  padding: 0;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0 white;
}

a, a:link, a:visited, a:active, a:focus {
  text-decoration: none;
  color: #003c68;
}

a:hover {
  color: #ea6b13;
}

pre {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

#banner {
  background-color: #111111;
  background-position: top left;
  background-size: contain;
  height: 55px;
  color: #FFFFFF;
}

#bannerLeft, #bannerRight {
  background: transparent;
  padding: 14px 20px;
  font-size: 20px;
}

#breadcrumbs {
  background: transparent;
  color: #FFFFFF;
  border: 0 none;
  padding: 2px 20px;
  margin-top: -20px;
  font-size: 9px;
  font-weight: bold;
}

#leftColumn {
  margin: 10px 0 0 10px;
}

#navcolumn {
  padding: 0 8px 8px;
}

#bodyColumn {
  margin-left: 200px;
  margin-right: 10px;
}

#contentBox {
  padding-top: 0;
}

#navcolumn h5 {
  border-bottom: 1px solid #AAAAAA;
  color: #000000;
  font-size: 10px;
  padding-top: 10px;
}

section {
  padding: 10px 0 0 0;
}

.source {
  margin: 10px 0;
  padding: 12px;
}
